In [1]:
import pandas as pd
import glob
import os

In [2]:
data_pth = "/Users/abhishekrajupalathoti/Documents/uber-hotspot-detection/data/"

In [3]:
all_files = glob.glob(os.path.join(data_pth, "uber-raw-data-*.csv"))

In [4]:
#Concatenating all datasets into one dataframe
df_list = [pd.read_csv(files) for files in all_files]
df = pd.concat(df_list, ignore_index=True)

In [5]:
print(df.head())
print(df.tail())

  Dispatching_base_num          Pickup_date Affiliated_base_num  locationID  \
0               B02617  2015-05-17 09:47:00              B02617       141.0
1               B02617  2015-05-17 09:47:00              B02617        65.0
2               B02617  2015-05-17 09:47:00              B02617       100.0
3               B02617  2015-05-17 09:47:00              B02774        80.0
4               B02617  2015-05-17 09:47:00              B02617        90.0

  Date/Time  Lat  Lon Base
0       NaN  NaN  NaN  NaN
1       NaN  NaN  NaN  NaN
2       NaN  NaN  NaN  NaN
3       NaN  NaN  NaN  NaN
4       NaN  NaN  NaN  NaN
         Dispatching_base_num Pickup_date Affiliated_base_num  locationID  \
18804801                  NaN         NaN                 NaN         NaN
18804802                  NaN         NaN                 NaN         NaN
18804803                  NaN         NaN                 NaN         NaN
18804804                  NaN         NaN                 NaN         NaN
18804805                  NaN         NaN                 NaN         NaN

                   Date/Time      Lat      Lon    Base
18804801  5/31/2014 23:45:00  40.7309 -74.0014  B02764
18804802  5/31/2014 23:52:00  40.7528 -73.9798  B02764
18804803  5/31/2014 23:55:00  40.7158 -73.9519  B02764
18804804  5/31/2014 23:56:00  40.6961 -73.8997  B02764
18804805  5/31/2014 23:59:00  40.7393 -73.9919  B02764

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18804806 entries, 0 to 18804805
Data columns (total 8 columns):
 #   Column                Dtype
---  ------                -----
 0   Dispatching_base_num  object
 1   Pickup_date           object
 2   Affiliated_base_num   object
 3   locationID            float64
 4   Date/Time             object
 5   Lat                   float64
 6   Lon                   float64
 7   Base                  object
dtypes: float64(3), object(5)
memory usage: 1.1+ GB
None

In [7]:
#Converting 'Date/Time' feature to datetime format.
df['Date/Time'] = pd.to_datetime(df['Date/Time'])

#Extracting features from the datetime format (hour, day, weekday, month)
df['Hour'] = df['Date/Time'].dt.hour
df['Day'] = df['Date/Time'].dt.day
df['Weekday'] = df['Date/Time'].dt.day_name()
df['Month'] = df['Date/Time'].dt.month

In [8]:
df.head()

,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID,Date/Time,Lat,Lon,Base,Hour,Day,Weekday,Month
0,B02617,2015-05-17 09:47:00,B02617,141.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,B02617,2015-05-17 09:47:00,B02617,65.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,B02617,2015-05-17 09:47:00,B02617,100.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,B02617,2015-05-17 09:47:00,B02774,80.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,B02617,2015-05-17 09:47:00,B02617,90.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.tail()

,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID,Date/Time,Lat,Lon,Base,Hour,Day,Weekday,Month
18804801,NaN,NaN,NaN,NaN,2014-05-31 23:45:00,40.7309,-74.0014,B02764,23.0,31.0,Saturday,5.0
18804802,NaN,NaN,NaN,NaN,2014-05-31 23:52:00,40.7528,-73.9798,B02764,23.0,31.0,Saturday,5.0
18804803,NaN,NaN,NaN,NaN,2014-05-31 23:55:00,40.7158,-73.9519,B02764,23.0,31.0,Saturday,5.0
18804804,NaN,NaN,NaN,NaN,2014-05-31 23:56:00,40.6961,-73.8997,B02764,23.0,31.0,Saturday,5.0
18804805,NaN,NaN,NaN,NaN,2014-05-31 23:59:00,40.7393,-73.9919,B02764,23.0,31.0,Saturday,5.0

In [10]:
df.columns = [col.strip().replace(' ', '_') for col in df.columns]